* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(220, 178, 159);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aqua;
  color: rgb(252, 249, 249);
  max-width: 950px;
  height: 145vh;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-header {
  font-weight: 300;
  font-size: 2rem;
}
.links {
  display: flex;
  gap: 20px;
}
a {
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
}

a:hover {
  text-decoration: underline;
}

main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  color: rgb(5, 5, 5);
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
section {
  border-top: 1px solid #bbb;
  font-size: 16px;
}
.about-section {
  float: right;
  /* margin: 24px 24px 24px 0; */
}
.mee {
  width: 300px;
  height: 400px;
  float: right;
  object-fit: cover;
  margin: 10px 0 10px 10px;
}
.about-header:nth-of-type(2n) > img {
  float: left;
  margin: 0 24px 24px 0;
}

.about-img {
  width: 200px;
  height: 200px;
  float: right;
  object-fit: cover;
  margin: 10px 0 10px 10px;
}

nav {
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #333333;
  color: aliceblue;
  display: flex;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

div {
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 45px;
}
h3 {
  font-family: fantasy;
  color: rgb(6, 7, 7);
  font-size: 40px;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 4em;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
footer {
  background-color: #333333;
  color: aliceblue;
  height: 70px;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: rgb(21, 91, 152);
  text-decoration: none;
  font-size: x-large;
  margin: 0 25px;
}

a {
  color: rgb(8, 229, 244);
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
}

.media-link {
  height: 40px;
}
